body{
    background-image: linear-gradient(to top ,#30cfd0 0%, #330867 100%);
}
.col-md-5{
    margin-top: 223px;
    background-color: white;
    padding: 20px;
}
input{
    margin-top: 20px;
}
button{
    margin-top: 30px;
   
    float: left;
}
.success{
    border:3px solid green;
    
}
.error{
    border: 3px solid red;
}
small{
    color: red;
    font-weight: bolder;
    margin: 5px;
    text-align: left !important;
}
h1{
 text-align: center;   
}